.practice-exams-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .dropdowns {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .dropdown {
    margin: 0 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  }
  
  .exam-boxes {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }
  
  .exam-box h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .question-box {
    margin-bottom: 20px;
  }
  
  .question-box p {
    margin-bottom: 10px;
  }
  
  .question-box textarea {
    width: 100%;
    height: 100px; /* Adjust this value to make the text entry box bigger */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical; /* Allows vertical resizing */
  }
  
  .question-box textarea::placeholder {
    color: #888;
  }
  
  .button {
    background-color: #afb2b4;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }

  .button:hover {
    background-color: #8a8d8f;
  }

  #help {
    background-color: #1635e0;
  }
  #help:hover {
    background-color: #334ddf;
  }
  
  .button:last-of-type {
    margin-right: 0;
  }
  
  label{
    text-align: justify;
    margin-left: 20px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    padding: 5px;
  }

  .hint {
    display: flex; /* Use flexbox to align elements in a row */
    align-items: center; /* Vertically align items */
    gap: 10px; /* Add some space between the button and the hint text */
  }
  
  .modal-content {
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 2px 2px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left; /* Align text to the left inside the modal content */
    flex-grow: 1; /* Allow the modal content to take up remaining space */
    margin-bottom: 20px;
  }
  
  .generate-hint-button {
    padding: 5px 5px;
    margin-left: 400px;
    background-color: #55596d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative; 
    display: inline-block;
    margin-right: 20px; 
    font-size: 14px;
    
  }
  
  .generate-hint-button:hover {
    background-color: #525252fd;
  }
  .generate-hint-button.active:hover {
    background-color: #e72727fd;
  }
  
  .generate-hint-button.active {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative; 
    display: inline-block;
    margin-right: 20px; 
    font-size: 14px;
    padding: 3px 15px;
    margin-left: 400px;
  }